/* Стили для вкладок */
.tab {
    display: none;
}

.tab-buttons {
    margin: 20px 0;
}

.tab-buttons button {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
}

.active {
    background-color: #4CAF50;
    color: white;
}
